# Build output
bin/
obj/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# MSIX
*.msix
*.msixbundle
*.appx
*.appxbundle
*.pfx
*.appxupload

# Publish
publish/
[Pp]ublish/

# Logs
*.log
logs/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Secrets / local
appsettings.Development.json
*.secret.json
